# Password for the 'elastic' user (at least 6 characters):
ELASTIC_PASSWORD=elasticadmin
ELASTICSEARCH_USERNAME=elasticadmin

# Version of Elasticsearch:
ELASTICSEARCH_VERSION=8.11.1

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

#------------------------------------------------------------

#Grafana version:
GRAFANA_VERSION=latest

#Grafana port:
GRAFANA_PORT=3000

#Grafana plugins: three types of plugins: panel, data-source and app plugins.
#After the plugin name, you can specify plugin version separated with blank space
#Specify >1 plugin separated by ,
#If you want to use custom plugins from GitHub, specify URL;directory_to_install_inside_docker
#Example: grafana-clock-panel 1.0.1, grafana-simple-json-datasource, https://github.com/VolkovLabs/custom-plugin.zip;custom-plugin
GRAFANA_PLUGINS=

#Grafana credentials:
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin